* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*
  --title-color: #212121;
  --main-text-color: #757575;
  --accent: #2196f3;
  --white-color: #ffffff;
    background-color: #e5e5e5;
  --hero-background-color: #2f303a;
  --secondary-background-color: #F5F4FA; 
  --border-header: #ececec;

*/

.main-nav {
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main {
  display: flex;
}

.main-nav a:hover {
  color: #2196f3;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.nav-items {
  display: flex;
}
.nav-items a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-left: 50px;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-contacts .item + .item {
  margin-left: 50px;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 198px;
}

.hero-btn {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 32px;
}

.quality {
  padding-top: 94px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.quality-item {
  margin-right: 30px;
}

.quality-item:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.quality p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
}

.about {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.about-title {
  margin-right: 30px;
}

.about-title:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-item:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.team-item h3 {
  margin-top: 30px;
}

.team-item p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

footer {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-grups {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.btn-p {
  color: #212121;
  display: inline-block;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  border-style: none;
  padding: 6px 22px;
  margin-right: 8px;
  border-style: none;
  border-radius: 4px;
}
.portfolio-grups button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
  padding-bottom: 94px;
}

.portfolio-items {
  background: #fff;
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-items h4 {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.portfolio-items:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-items: :nth-last-child(-n+3) {
  margin-bottom: 0px;
}
